body {
    font-family: 'Times New Roman', Times, serif;
    background-color: slategrey;
    color: black;
    font-size: 24px;
}

.header {
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.ingredients-list {
    line-height: 200%;
}

.img2 {
    width: 400px;
    height: auto;
    border-radius: 90%;
}
